<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {% load static %}
<!--    <link rel="stylesheet" href="{% static 'css/style.css' %}">-->
</head>

<body>
    <form method="POST" action="/emp">
        {% csrf_token %}
        <div>
            <br>
            <p>
                <h3>Enter Details</h3>
            </p>
            <div>
                <p>Employee Id:</p>{{ form.employee_id}}
            </div>
            <div>
                <p>Employee Username::</p>{{ form.username }}
            </div>
            <div>
                <p>Employee Name:</p>{{ form.firstname }}
            </div>
            <div>
                <p>Employee Email:</p>{{ form.email }}
            </div>
            <div>
                <p>Employee Phone number:</p>{{ form.phone_number }}
            </div>
            <div>
                <p>Employee Chat id:</p>{{ form.chat_id }}
            </div>
            <div>
                <p>Employee Status:</p>{{ form.status_name }}
            </div>
            <div>
                <p>Employee Curator:</p>{{ form.curator }}
            </div>
            <div>
                <br>
                <button type="submit">Submit</button>
            </div>
        </div>
    </form>
</body>

</html>